@using quoteGeneratorX.ViewModels;
@model List<ApplicantVM>

<div class=" row row-no-gutters m-4">
    <div class="card col-sm-11 col-md-9 col-lg-5 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quotes</h5>
        </div>
        <div class="card-body">
            @foreach (var applicant in Model)
            {
                using (Html.BeginForm("Quote", "Admin", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@applicant.Id" />
                    <div class="row mb-3">
                        <div class="col-2">
                            @applicant.Firstname
                        </div>
                        <div class="col-2">
                            @applicant.LastName
                        </div>
                        <div class="col-5">
                            @applicant.EmailAddress
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-danger btn-block">
                                View Quote
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>